#navbar{

	position:absolute;
	width:100%;
	height:64px;

}

#linkref{
	font-family:'Agency FB';
	font-size: 40px;
	text-decoration:none;
	color:white;
	padding:18px;
	font-stretch:extra-expanded;
	top:10px;
}

#linkref:hover{
	background-color:#01579B;
	color:black;
}

body{
	margin: 0px;
	border: 0px;
	top: 0;
	background-color:rgba(0,0,0,0.9);

}

.show{
	width: 100%;
	height: 90%;

}

.image{
	position:relative;
	width: 100%;
}

.button{
	position:absolute;
	height:60px;
	width: 540px;
	border-radius: 5px;
	border:0;
	background-color: rgba(0,0,0,0.9);
	bottom: 600px;
	right:90px;
	padding:18px 40px;
	font-size: 16px;
	margin:auto;
	color:white;
}




.button:hover{

	background-color:rgba(255,255,255,0.9);
	color: black;
}


.logo-img{
	float:left;
	margin:0;
	padding:0;
}

.txt{
	position:absolute;
	bottom: 560px;
	left: 892px;
}

.btn{
	position:relative;
	margin:auto;
	text-align:center;
}

#link{
	color:white;
}

#link:hover{
	color:blue;
}

#a{
	width:350px;
	height:200px;
	border:0;
	margin:0;
}

#wrapper{
	position:relative;
	padding-left:16.65%;
	text-align:center;
	color:white;
	font-size: 20px;
	font-family: Centaur Regular;

}

#box1,#box2,#box3{
	float:left;
	width:350px;
	padding-right: 10px;
	padding-top:none;
}

#privacy{
	text-align:bottom;
}

#privacy a{
	text-decoration:none;
	color:black;
	bottom:5px;
	left:10px;
	position:absolute;
}

#overlay{
	position: relative;

}
