h3.first
{
  margin-top: 200px;
  text-align: center;
  font-family: Arial;
  padding-bottom: 50px;
}
h3.next
{
  text-align: center;
  font-family: Arial;
  padding-bottom: 20px;
  align-content: center;
}
fieldset
{
  text-align: center;
  margin: 30px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  width: 1000px;
  font-size: 15px;
  font-family: Georgia;
  color: MidnightBlue;
}
body
{
   background-image: url("car1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
input[type=button][type=submit]{
   background-color: #4CAF50;
   border: none;
   color: white;
   margin: 30px 480px;
   text-decoration: underline;
}
a:visited
{
  color: purple;
}
