h3.first
{
  margin-top: 200px;
  text-align: center;
  font-family: impact;
  padding-bottom: 50px;
}
h3.next
{
  text-align: center;
  font-family: impact;
  padding-bottom: 20px;
  align-content: center;
}
fieldset
{
  border: 5px solid silver;
  background-color: lightgrey;
  border-style:double ridge;
  border-radius: 1px;
  background-image: url("");
}
legend
{
  color:midnightblue;
  background-color: yellow;
  font-size: 20px;
}
body
{
   background-color: red;
}
h3.submit
{
  margin-top: 5px;
  padding: 20px;
  border-radius: 3px;
  font-size: 30px;
  font-family: impact;
}
a:visited
{
  color: purple;
}
poin
