body{
  background-image: url("car1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
div.transbox{
    text-align: center;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width: 500px;
    font-size: 15px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color:MidnightBlue;
}
input[type=button],input[type=submit]{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: underline;
}


.topnav {
    background-color:20B2AA;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
